@charset "utf-8";
/* Video Selector CSS */



.clear{clear:both;}

.video-selector *{
	margin:0;
	padding:0;
	position:relative;
}
.ui-block{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
}
/*-------------------------------------------------------------------->
	1 | VIDEO SELECTOR
<--------------------------------------------------------------------*/
.video-selector {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
	text-align:center;
/*	max-width:960px;*/
}
/*-------------------------------------------------------------------->
	2 | VIDEO PANEL
<--------------------------------------------------------------------*/
.vs-video-panel{
	margin:0 auto;
	background-image:url(http://placehold.it/350x150/fff/eee&text=loading);
	background-position: center;
	background-repeat:no-repeat;
}
/*-------------------------------------------------------------------->
	3 | VIDEO MENU
<--------------------------------------------------------------------*/
.vs-video-menu{
	margin:0 auto;
	text-align: left;
	font-size:14px;
}
/*sizes*/
.XL-size .vs-video-menu{width: 960px;}
.L-size .vs-video-menu{width: 720px;}
.M-size .vs-video-menu{width: 480px;}
.S-size .vs-video-menu{width: 320px;}
/*Menu Options */
.vs-video-menu-option {
    cursor: pointer;
    padding: 10px 5px;
}
.vs-video-menu-option:hover {
    background: rgba(100,100,100,.3);
}
.vs-video-menu-option.current {
    background: rgba(0, 122, 194,.5);
}

/*individual option styling */
.vs-video-thumbnail {
    float: left;
    margin-right: 10px;
}


.vs-video-title {
    /*float: left;*/
	font-size:16px;
}
.vs-video-time {
    float: right;
}
.vs-video-id {
    float: left;
/*    padding-left: 10px;*/
    opacity: .5;
}
